@model VotingWebApp.Models.Glosujacy

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Glosujacy</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Imie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pesel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pesel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Miasto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Miasto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ulica)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ulica)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NrDomu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NrDomu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zaglosowal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zaglosowal)
        </dd>
    </dl>
</div>
<div>
    @using (Html.BeginForm("Zaglosowal", "Glosujacy", FormMethod.Post, new { id = Model?.ID }))
    {
        <input type="hidden" asp-for="ID" />
        <button type="submit" class="btn btn-primary">Zaznacz, że osoba oddała głos</button>
    }
    <br />
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
